extends layout/template.jade

block variables
	-var pageClass = "";
	-var about = 'active';

block title
	title Школа веб-дизайна Grampus

block content

	//- h1.title.title__page
		.title__page_name Научись создавать крутые сайты и зарабатывай на этом
		.title__page_line
	.fScreen
		.fScreen__text
			h1.fScreen__title Раздаем восстребованные интернет-профессии
		.fScreen__img
			img(src="/img/fbg.png", alt="")
	
	h2.title.title__page
		.title__page_name Обучение в GRAMPUS - это:
		.title__page_line
	.infoLine
		.grid.grid__4.infoLine__grid
			div.animated
				.infoLine__item
					.infoLine__img
						img(src="/img/1.png", alt="")
					.infoLine__text Лекторы с большим опытом <br>реальной работы
			div.animated
				.infoLine__item
					.infoLine__img
						img(src="/img/4.png", alt="")
					.infoLine__text Взрывная теория <br>и много практики
			div.animated
				.infoLine__item
					.infoLine__img
						img(src="/img/3.png", alt="")
					.infoLine__text Сильное коммерческое <br>портфолио и опыт
			div.animated
				.infoLine__item
					.infoLine__img
						img(src="/img/2.png", alt="")
					.infoLine__text Помощь с первыми <br>настоящими заказами

	h2.title.title__page
		.title__page_name Профессии которым мы обучаем сегодня, это:
		.title__page_line
			
	.profession
		.profession__info
			.profession__item.animated
				.profession__title Работа из любой точки мира
				.profession__text Вы больше не будете привязаны к одному месту или графику. Переезжайте, путешествуйте — теперь для работы вам нужен только ноутбук и выход в интернет!
			.profession__item.animated
				.profession__title Заработок от 40 000+ р. в месяц
				.profession__text Мы дадим четкий план, как достичь этой цифры всего за год с начала обучения.
			.profession__item.animated
				.profession__title Интересные творческие проекты
				.profession__text Работай онлайн с крупными заказчиками, студиями, и брендами по всему миру и реализуй свой творческий потенциал!
		.profession__img.animated
			//- img(src="/img/room.jpg", alt="")
			img(src="/img/simon-abrams-286276-.jpg", alt="")
	
	h2.title.title__page
		.title__page_name Как проходит обучение:
		.title__page_line
	
	- var title = 'Профессия разработчика сайтов сегодня, это:';
	- var learningData = [{title: "Очные занятия по 4 часа в неделю", descr: "Теория и практика (много практики!) в программах под чутким руководством опытных преподавателей."},{title: "Домашние задания и индивидуальный разбор работ", descr: "Вас будут ждать домашние практическое задание. Каждая работа индивидуально разбирается на ошибки"},{title: "Круглосуточная поддержка и общение в чате", descr: "Если у вас возникают сложности с заданиями, вам всегда помогут в общем онлайн-чате вконтакте"},{title: "Поддержка с первыми заказами на фрилансе", descr: "Вы получаете личного наставника на длительное время после окончания курса!"}];

	mixin learning(order)
		div
			.learningOrder__item.animated
				.learningOrder__wrap
					.learningOrder__title= order.title
					.learningOrder__text= order.descr

	.learningOrder
		.grid.grid__4.learningOrder__grid
			for order in learningData
				+learning(order)

	h2.title.title__page
		.title__page_name Наши выпускники любят нас:
		.title__page_line

	- var reviewSlide = [{name: "Эрнест Кифель", photo: "/img/review/ernest.PNG", text: ["Давно искал курс дизайна сайтов, и облазил уже весь интернет! нигде не было ничего подходящего, то программа устаревшая и отстой, то преподаватели сами еще только учатся, либо уже на пенсию выходят, то цены на курсы заоблачные))...", "Grampus заинтересовали в первую очередь современной программой и невысокой ценой, решил пойти учиться сюда. И не прогадал! Атмосфера на курсах очень ламповая, преподы хорошо разбираются в предметах, причем хочется на них равняться, потому что они действительно крутые и делают крутые проекты!", "Я пришел полным (почти) нубом, и за три месяца меня сильно прокачали, самостоятельно дома с утубом я бы так не смог))) пробовал сам, но получался какой то шлак... уже через два месяца как я начал учиться здесь, я взял свой первый заказ на небольшой сайт за 3000 р., а сейчас, спустя три месяца после обучения беру проекты на 7-10 т.р., а недавно взял проект на 25 т.р! и все еще получаю советы и помощь от преподавателей.", "Круто, что даже после курсов тебя не бросают на произвол судьбы, а подсказывают и вытягивают в сложных ситуациях. ", "А еще я перезнакомился на курсах с такими же ребятами и девчонками как я, мечтающими стать топовыми дизайнерами, это очень круто когда ты с кем то на одной волне, мы до сих пор общаемся и обмениваемся полезными ссылочками ;)) ", "Да, кстати, больше нигде такого не видел — в Grampus приходят ребята из топовых студий, например из Яндекса, читают лекции, смотрят работы студентов, где еще новички смогут пообщаться с живыми гуру!", "Вобщем, школа крутая, всем советую, не сомневайтесь, здесь вас научат как зарабатывать на дизайне! Респект ;))"], link: "https://vk.com/re_son"},{name: "Сергей Валейшо", photo: "/img/review/valeysho.PNG", text: ["Несколько раз пытался разобраться в веб-программировании сам и ничего не получалось. Думал уже, что это не моё. Случайно попал на курс в Grampus и свершилось чудо. Всё начало складываться по полочкам и становиться понятным. Преподаватель очень подробно объясняет на уроках, постоянно на связи, подсказывает где ошибки. Я САМ сделал несколько простеньких сайтов, на которых происходит анимация, различные эффекты. Это оказывается не тёмный лес, вам помогут в этом всём разобраться.", "Сам курс очень объёмный, начинается с азов, а заканчивается уже автоматизацией программирования. Проходим HTML, CSS, знакомимся с js , jQuery, wordpress, gulp, sublime, Emmet...да всего не перечислить!!! Сколько полезных ссылок он даёт, самому столько не найти среди мусора в интернете. Огромное количество полезных советов и фишек упрощают вёрстку. Некоторые фишки я взял для применения на пк как обычный юзер.", "В конце курса преподаватель даёт практические советы, что делать дальше, потому что вёрстка - это только первая ступенька. Важно то, что он не бросает на произвол после курса, а ведёт ещё поддержку несколько месяцев!. Торопитесь, я думаю такая функция продлится не так долго.", "Параллельно смотрел другие видео-уроки на ютубе и замечал, что можно делать проще и быстрее, как это делает наш преподаватель. Для меня это стало большим подтверждением, что я на отличном курсе.", "Думал обязательно написать минусы в отзыве, но что то не могу их найти, кроме того, что очень много информации и приходилось сидеть по 2 часа в день. Но это и не минус, это говорит о большом количестве полезной информации в курсе.", "Курс конечно же рекомендую! После которого Вы точно научитесь верстать веб-страницы и нарисуется дорожка, что делать дальше!"] , link: "https://vk.com/gw.moroz"},{name: "Jeffrey Curtis", photo: "/img/review/Jeffrey.PNG", text: ["Отличный курс, дает максимум необходимой информации и реальной практики за минимум времени, ничего лишнего. В целом на курсе создано очень позитивное пространство, участники делятся материалами, помогают друг другу, прорабатывают в парах свой первый заказ.","Преподаватели практики, мастера своего дела и гуру мотивации, всегда на связи, помогают всем, причем эта помощь остается с вами и после окончания курсов.","Так же вы попадаете в чат опытных дизайнеров, где можно задать вопросы, попросить оценить работу, найти помощника, или скинуть заказ, на который у вас вдруг не оказалось времени.","По итогу у вас готово портфолио, все необходимые навыки для начала работы и очерченный вектор для развития.","Как по мне, главное что дает курс, это преодоление страха перед первыми заказами и заказчиками, мой первый заказ был через 1,5 месяца с начала обучения на 20 000 р. и Катерина была главным помощником. Отрисовывать дизайн за вас конечно ни кто не будет (хотя и в нем Катя может что-то подкоректировать), но что касается общения с заказчиками, умении продавать свой труд, не занижать его стоимость, понять как сделать адаптив или структуру, чтобы в дальнейшем вас понял верстальщик - это все да.","Что еще сказать, если вы поняли, что хотите быть дизайнером или еще не поняли, но хотите попробовать свои силы в данном направлении, действуйте. Главное ваше намерение и желание достичь результата. Я очень тщательно выбирала из 4х онлайн - курсов. Ни сколько не пожалела. Полностью и от всей души рекомендую!"], link: "https://vk.com/id13254887"},{name: "Юля Сезонова", photo: "/img/review/sezonova.PNG", text: ['Курс - "Верстка и разработка сайтов", преподаватель - Евгений Иванов. Как начальный этап освоения профессии разработчика сайтов, этот курс бесценен!', "Очная форма позволяет человеку, далекому от веб-программирования, получить ответ на вопрос о любом нюансе работы, детально рассмотреть способы решения той или иной задачи. На курсе также дается набор инструментов, необходимый на начальном этапе работы. ", "Отдельное спасибо Евгению за терпение и свойство объяснять до тех пор, пока не станет понятно всё и всем."] , link: "https://vk.com/id11427742"},{name: "Настя Попова", photo: "/img/review/popova.png", text: ["Прошла курс в школе дизайна «GRAMPUS». Очень хорошая и понятная подача материала. Получила массу информации, которая поможет мне в дальнейшем развиваться и зарабатывать!", "Евгений очень хороший и добрый преподаватель, настоящий профессионал своего дела, который всегда поможет с вопросами возникшими на протяжении курса и за его пределами. После курса так же продолжает помогать и никуда не теряется. Спасибо ему за бесценный опыт!", "На одном курсе не остановлюсь, обязательно приду ещё!)"] , link: "https://vk.com/nastya_popovaa_1"},{name: "Алексей Евтеев", photo: "/img/review/alexey.PNG", text: ["Этот курс я прошел с удовольствием, даже и не заметил как прошли эти три месяца.", "Учитывая, что я ничего не знал об этой сфере, сейчас я с уверенностью могу сказать, что я научился создавать дизайн сайта, хоть пока не самого крутого, но это все придет с практикой.", "Огромное спасибо Вам за этот замечательный проект, отдельное спасибо Екатерине!", "В общем курс классный, дается большой объем информации, достаточный для построения фундамента будущей интересной профессии «Веб дизайнер». Я ни разу не пожалел, что выбрал именно Вас!!!"], link: "https://vk.com/evteevalex"},{name: "Анастасия Коваль", photo: "/img/review/anastasia.PNG", text: ["Посещала курсы по веб-дизайну. Преподаватели за такой короткий период обучения представили огромный спектр информации, очень подробно разъяснили как базовые термины, так и какие-то сложные решения.", "Очень много времени уделяется практическим занятиям, что не может не радовать. Домашние работы позволяют набить руку и прокачать свои навыки. В ходе работы обучающийся всегда получает обратную связь.", "Обучение проходило в дружественной обстановке, в условиях комфортного обсуждения.", "Как у меня будет возможность, обязательно посещу также другие курсы школы.", "Огромное спасибо!"], link: "https://vk.com/id68298458"},{name: "Виктория Камаева", photo: "/img/review/vikakamaeva.PNG", text: ['Прошла курс "Графический дизайн". Получила много полезной информации.',"Преподаватель Катерина Кивилева щедро делится своими знаниями и навыками, всегда на связи.", "Рекомендую!"], link: "https://vk.com/victoriakam"},{name: "Анна Ильиных", photo: "/img/review/annail.PNG", text: ['Обучалась на курсах "Графический дизайн" Курс очень интересный, для меня был очень полезный. ', "Много практики. Преподаватель Катерина Кивилева настоящий профессионал в своём деле. Всегда на связи, всегда подскажет и поможет при выполнении домашних заданий.", "Планирую продолжать обучение по другим направлениям в этой школе! Рекомендую всем кто серьёзно настроен на получение нового опыта."], link: "https://vk.com/id211124423"},{name: "Надежда Харина", photo: "/img/review/nadejda.png", text: ["После окончания курса, остались только положительные эмоции...", "Курс достаточно ёмкий (много материала для самостоятельного изучения) и дает практические навыки, необходимые в работе. ", "Преподают дизайнеры с большим опытом работы. Спасибо всем преподавателям!!! Буду ли я рекомендовать эту школу — однозначно ДА!"], link: "https://vk.com/id51059221"},{name: "Вяйно Сюгияйнен", photo: "/img/review/vyaino.PNG", text: ["В школе GRAMPUS закончил трехмесячный курс 'Верстка и разработка сайтов'. Курс вёл Евгений Иванов.", "В целом, я действительно получил за этот месяц, наверное, полный объём знаний. Стартануть в сторону заработка на этом и вправду реально, но при одном условии - нужно систематически выделять время на неделе и разбирать все вопросы с преподавателем. Даже после окончания курса преподаватель был заинтересован довести мои знания до приличного уровня (т.е. выделять на меня время), а это многого стоит.", "Во время самого обучения атмосфера в классе неформальная- это конечно круто. Если есть возможность носить свой ноут, то советую брать: так вы всё настроите под себя и точно будете знать где что у вас лежит. В общем, курс своих денег стоит."] , link: "https://vk.com/vyayno"}];

	mixin reviewSlider(review)
		.review__item
			.review__photo
				img(src= review.photo, alt= review.name)
			.review__name= review.name
			.review__text
				each paragraph in review.text
					p= paragraph
			.review__contact Мой профиль Вконтакте: 
				a(href= review.link)= review.link


	//- begin review
	.review

		.review__slider
			each review in reviewSlide
				+reviewSlider(review)

		.section__sub Больше отзывов в группе 
			a(href="https://vk.com/topic-31893650_34525120" target="blank") Вконтакте
			| 
			|и в 
			a(href="https://2gis.ru/perm/query/Grampus%2C%20%D1%88%D0%BA%D0%BE%D0%BB%D0%B0%20%D0%B4%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD%D0%B0/firm/70000001027611142?queryState=center%2F56.232029%2C58.015314%2Fzoom%2F18" target="blank") 2Gis
	//- end review

	h2.title.title__page
		.title__page_name А еще для своих студентов (и не только) <br>мы проводим классные дизайн-конференции!
		.title__page_line

	.conference
		.conference__box
			.conference__item.animated
				.conference__text Посмотрите, как это было в марте 2018-го ;)
			.conference__item.animated
				.video__wrapper.js_youtube#o__aXzyu1_c
				.conference__sub Grampus Design Conference
				.conference__date Март 2018


	h2.title.title__page
		.title__page_name Записаться на ближайший очный курс
		.title__page_line

	#WdgMoyklass1878

	//- MoyKlass widget begin -->
	<script src="https://app.moyklass.com/api/site/widget/schedule?id=PsC5PP9FZJBOyiTrVTRAUhBbwvkx3P6eSn" type="text/javascript" charset="UTF-8"></script>
	<script type="text/javascript">WdgMoyklass['schedulePsC5PP9FZJBOyiTrVTRAUhBbwvkx3P6eSn'].init('WdgMoyklass1878');</script>
	//- MoyKlass widget end -->